.perkCard{
    display: flex;
    flex-direction: column;
    gap: 8vw;
    flex-wrap: wrap;
}

.upperPerks, .lowerPerks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8vw;
}

.mainPerk{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 20px;
    background: linear-gradient(180deg, #130033 0.01%, #3A1774 0.02%, #130033 100%);
    border-radius: 33px;
}

.perkImg{
    padding-left: 35px;
}

.perkTxt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 55px;
}

.perkTxt h2{
    font-weight: 700;
    font-size: 22px;
}

.perkTxt p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.show{
    opacity: 1 !important; 
    filter: blur(0) !important;
    transform: translateX(0) !important;
}

.PerkR{
    opacity: 1;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.PerkL{
    opacity: 1;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}