.footer{
    width: 100%;
    background: #17013E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerL{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 85px;
}

.footerL img{
    margin-bottom: 5px;
}

.footerL h2{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.footerR{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footerR h2{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
}

.footerR .RR h2:hover{
    cursor: pointer;
    opacity: 70%;
}

.RL{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.RR{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.RR a{
    text-decoration: none;
    color: white;
    font-weight: 300;
}
.footerSoc{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 85px;
}

.footerSoc a{
    background: #3A1774;
    border-radius: 6px;
    padding: 10px 10px 0 10px;
}

.footerSoc a:hover{
    cursor: pointer;
    opacity: 70%;
}

.footerSoc1,
.footerSoc2{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media screen and (max-width: 950px){
   .footer{
        flex-direction: row;
        justify-content: space-between;;
        padding-bottom: 20px;
        padding-top: 20px;
   }
    .footerR{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 60px;
        gap: 20px;
    }
    .RL, .RR{
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .footerR h2{
        text-align: left;
    }

    .footerL{
        display: none;
    }
    .footerSoc{
        flex-direction: column;
        margin-right: 60px;
    }
    .footerSoc a{
        background: #3A1774;
        border-radius: 6px;
    }
}