@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');
.formAll{
    display: flex;
    flex-direction: row;
    margin-top: -100px;
    align-self: center;
    font-family: 'Nunito';
}

.formLeft{
    display: flex;
    flex-direction: column;
}

.formContact{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 45px;
}

.formContact img{
    margin-right: 25px;
    max-width: 10%;
    height: auto;
}

.formContact h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    color: white;
}

.formMail, .formTel, .formLoc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.formHeader h2{
    font-weight: 700;
    font-size: 54px;
    color: white;
    margin-bottom: 15px;
    letter-spacing: 3px;
    line-height: 54px;
}

.formHeader h3{
    color: #572E9A;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    margin-bottom: 35px;
}

.formHeader h4{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: white;
}

.formHeader p{
    font-weight: 400;
    font-size: 22pxw;
    margin-top: 15px;
    color: white;
    line-height: 22px;
}

#formLine{
    border: 2px solid #3A1774;
    height: 0px;
    width: 166px;
    margin-top: 25px;
}

.formInput{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 80px;
    margin-top: 55px;
}

.sendbtn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.messSent{
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #37156E;
    border-radius: 9px;
    padding: 3px 25px;
    /* opacity: 0;  nastaveny pres useState*/
}

.messSent input{
    accent-color: #7246EC;
    border-radius: 2px;
}

.formMain{
    Background: #37156E;
    border-radius: 33px;
    border: none;
    width: 460px;
    height: 45px;
    padding-left: 25px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.formMain::placeholder{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

#formTxt{
    background: #37156E;
    border-radius: 33px;
    border: none;
    text-align: left;
    width: 460px;
    padding-top: 20px;
    height: 200px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    font-family: 'Nunito';
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    resize: none;
    overflow: hidden;
}

#formTxt::placeholder{
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

input[type=text]:focus{
    outline: none;
    color: white;
}

#formTxt:focus{
    outline: none;
    color: white;
}

#formSend{
    border: 2px solid #663AAE;
    border-radius: 15px;
    background: none;
    color: white;
    padding: 12px 43px 12px 43px;
    width: 100%;
    align-self: flex-end;
    font-size: 18px;
}

#formSend:hover{
    cursor: pointer;
    background-color: #663AAE;
}

@media screen and (max-width: 950px){
    .formAll{
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }
    .formMain{
        width: 100%;
    }
    .formLeft{
        width: 80%;
    }
    .formHeader{
        width: 100%;
    }
    .formInput{
        margin-left: 0px;
    }
    .formMain, #formTxt{
        width: 100%;
        align-self: center;
    }
    .formHeader h2{
        font-size: 45px;
        letter-spacing: 0px;
    }

}