.hurTitle{
    background-image: url(./images/logo_hurricanes.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 90%;
}

.winTitle{
    background-image: url(./images/logo_windstorms.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 90%;
}

.ageTitle{
    background-image: url(./images/ageTitle.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 90%;
}

.spartaTitle{
    background-image: url(./images/logo_sparta.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.alzaTitle{
    background-image: url(./images/alzak.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.wcTitle{
    background-image: url(./images/logo_wc.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.calmTitle{
    background-image: url(./images/calmLogo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
    padding-bottom: 150px;
}

.houseTitle{
    background-image: url(./images/house_logo.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
    padding-bottom: 150px;
}

.wedryTitle{
    background-image: url(./images/wedry_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
    padding-bottom: 100px;
}

.raketaciTitle{
    background-image: url(./images/raketaci_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
    padding-bottom: 100px;
}

.menuTitle{
    background-image: url(./images/menu_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
    padding-bottom: 100px;
}

.kalendarTitle{
    background-image: url(./images/kalendar_logo.svg);
    background-repeat: no-repeat;
    background-position: top right;
    width: 90%;
}

.scrapTitle{
    background-image: url(./images/scrap_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
}

.showRoomTitle{
    background-image: url(./images/showRoom_logo.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.colaTitle{
    background-image: url(./images/cola_logo.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.wcRentTitle{
    background-image: url(./images/wcRent_logo.svg);
    background-repeat: no-repeat;
    background-position: 80% 50%;
    width: 90%;
}

.likvidaceTitle{
    background-image: url(./images/likvidace_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
}

.spaceTitle{
    background-image: url(./images/space_logo.svg);
    background-repeat: no-repeat;
    background-position: center right;
    width: 90%;
}

.devetsilTitle{
    background-image: url(./images/devetsil_logo.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 90%;
}

.hurTitleTxt {
    padding-top: 180px;
    padding-left: 125px;
    padding-bottom: 180px;
}

.alzaTitleTxt {
    padding-top: 180px;
    padding-left: 125px;
    padding-bottom: 90px;
}

.hurTitleTxt h2{
    font-weight: 400;
    font-size: 20px;
    padding-left: 5px;
}

.hurTitleTxt h1{
    font-weight: 700;
    font-size: 54px;
    padding-top: 5px;
    line-height: 1;
}

.alzaTitleTxt h1{
    font-weight: 700;
    font-size: 54px;
    padding-top: 5px;
    line-height: 1;
}

.alzaTitleTxt h2{
    font-weight: 700;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
}

@media screen and (max-width: 950px){
    
    .hurTitleTxt, .alzaTitleTxt{
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .hurTitleTxt h1,
    .alzaTitleTxt h1{
        font-size: 35px;

    }
    .hurTitleTxt h2,
    .alzaTitleTxt h2{
        font-size: 16px;

    }

    .hurTitle, .alzaTitle, .spartaTitle, .winTitle{
        background-position: 50% 0%;
        width: 100%;
        height: 100%;
    }
    .calmTitle{
        background-position: center;
        width: 100%;
        background-size: contain;
    }
    .wcTitle{
        background-position: 0% 0%;
        width: 90%;
        background-size: contain;
    }
    .spartaTitle{
        background-position: top;
        width: 80%;
        background-size: 80%;
    }
    .likvidaceTitle{
        background-position: center;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 90%;
    }
    .raketaciTitle{
        background-position: center;
        width: 90%;
        background-size: contain;
    }
    .devetsilTitle,
    .wedryTitle,
    .spaceTitle, 
    .kalendarTitle, 
    .scrapTitle, 
    .colaTitle{
        background-size: contain;
    }
    .ageTitle{
        background-position: 80% 0%;
        width: 100%;
        height: 100%;
    }
    .wcRentTitle{
        background-position: 50% 50%;
        width: 100%;
        height: 100%;
        background-size: 90%;
    }

}