
.hurBack{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-self: center;

}

.hurHeader{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 150px 15px 150px;
    transition: .5s;  
    scroll-behavior: smooth;
}

.hurHeader-bg{
    background: rgba(43, 15, 89, 0.79);
    margin-top: -20px;
    
}

.hurmenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 20;
    transition: .5s;
    gap: 50px;
}

.hurmenu li{
    list-style-type: none;
}

.hurmenu li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 0px;
    font-size: 18px;
    line-height: 1;
    transition: .5s;
}

.hurmenu li a:hover{
    box-shadow: 0px -2px 0px #663AAE inset;
}

@media screen and (max-width: 950px){
    .hurmenu {
        width: 100%;
    }
    .hurBack {
        width: 100%;
        justify-content: flex-end;
        margin-right: 10px;
    }
    .hurHeader{
        padding: 35px 0 10px 0;
    }

}


    
