.portfolioContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grafikaContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
}

.grafikaContainer h1{
  font-weight: 700;
  font-size: 45px;
  align-self: center;
}

/* @media screen and (max-width: 1363px){
  .grafikaContainer h1{
    align-self: center;
  }
} */

.onlineGrafika{
  display: flex;
  flex-direction: row;
  gap: 45px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.projektyGrafika{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.TiskGrafika{
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: center;
}

.videoPart{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.obleceniGrafika{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.onlineGrafika p,
.TiskGrafika p,
.projektyGrafika p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grafikaContainer p img:hover{
  opacity: .6;
}

#ShowMore{
  align-self: center;
  font-weight: 400;
  font-size: 25px;
}

#ShowMore:after {
  display      : block;
  content      : '';
  border-bottom: 2px solid #692FC7;
  transform    : scaleX(0);
  transition   : transform 300ms ease-in-out;
  padding-bottom: 5px;
}

#ShowMore:hover::after{
  transform: scaleX(1);
}

#ShowMore:hover{
  opacity: .6;
}

.spacer{
  margin-top: 160px;
}




