.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(25, 0, 66, 0.63);
    height: 100%;
    width: 100%;
}

.content img{
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 114px;
}


@media screen and (max-width: 950px){
    .content img{
        height: 35px;
        width: 35px;
    }
}