*{margin: 0;
padding: 0;
box-sizing: border-box;
}

.SocImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.SocImg img:hover{
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 950px){

.SocImg{
    display: flex;
    flex-direction: row;
  }
}