@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --cardWidth: 250px;
  --cardHeight: 300px;
  --cardMargin: 16px;
  --perkWidth: 370px;
  --perkHeight: 170px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white ;
}

html{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar{
  display: none;
}

body{
  height: 100%;
  width: 100%;
  font-family: 'Nunito';
  line-height: 27px;
  display: flex;
  flex-direction: column;
  background: #090021;
  overflow-x: hidden;
  scroll-behavior: smooth .2s;
}

.MainPage{
  height: 100%;
  width: 100%;
}

.bgImg{
  background: url(./components/images/background_ntb.png) no-repeat center center fixed;
  background-size: 100% auto;
  height: auto;
  width: 100%;
  padding-bottom: 16%;
  background-size: cover;
}

.Topbar{
  position: fixed;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Topbar-bg{
  background: rgba(43, 15, 89, 0.79);
}

.Content{
  display: flex;
  flex-direction: column;

}

@keyframes content-load{
  0% {
    opacity: 1;
    filter: blur(5px);
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}

@keyframes content-loadL{
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}

@keyframes content-loadD{
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}

@keyframes content-loadU{
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
  }
}

.content_hl{
  margin-top: 305px;
  margin-left: 75px;
  margin-right: 185px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Soc_hl{
  margin-top: 90px;
  animation: content-loadL linear .5s;
}

.content_text{
  margin-left: 95px;
  animation: content-load linear .5s;
}
.Contactbtn{
  margin-top: 20px;
  margin-left: 185px;
  animation: content-loadD linear .5s;
}

.Scrollimg{
  display: flex;
  justify-content: flex-end;
  margin-right: 90px;
}

.SecondPage{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #090021;
}

.Header1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}

.HeaderTxt{
  width: 100%;
  align-self: center;
  margin-top: -100px;
  z-index: 10;
}

.BubbleImg{
  z-index: 1;
  scale: 70%;
  align-self: flex-end;
  margin-left: 200px;
  margin-right: -100px;
}

.main-section {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 70px;
  column-gap: 55px;
}

.Cards{
  width: var(--cardWidth);
  height: var(--cardHeight);
  margin: var(--cardMargin);
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  box-sizing: border-box;
}

.CardL{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.CardR{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.BubbleL1{
  margin-right: -80px;
  margin-top: 70px;
  padding-bottom: 20px;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.rotateL1{
  transform: rotate(120deg);
}

.AboutPage{
  height: 100%;
  background: #130033;
  padding-top: 10px;

}

.BubbleR1{
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  width: 100%;
}

.bubbleR1{
  scale: 35%;
}

.BubHeader{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 165px;
}

.BubbleAbout{
  position: absolute;
  scale: 55%;
  margin-top: -200px;
  margin-left: -120px;
}

.rotateAbout{
  rotate: 20deg;
  width: fit-content;
  height: fit-content;
}

.Header2{
  width: 100%;
}

.aboutTextContent{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.BubbleR2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 200px;
  width: 100%;
}

.bubbleR2{
  scale: 45%;
}

.PortfolioPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #090021;
  z-index: 10;
  padding-top: 150px;
}

.Header3{
  display: flex;
}

.portfolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  width: 90%;
}

.vlastPage{
  display: flex;
  flex-direction: column;
  background-image: url(./components/images/ribbon.png);
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior: contain;
  background-position: -120px -60px;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.BubbleR3{
  display: flex;
  align-self: flex-end;
  margin-right: -130px;
  margin-top: -80px;
  z-index: -1;
}

.rotateVlast{
  transform: rotate(155.08deg);
  width: fit-content;
  height: fit-content;
}

.Header4{
  margin-top: -60px;
}

.perkPage{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 10;;
}

.priceBorder{
  width: 100%;
  height: 100%;
  margin-top: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceShadow{
  background: #6100FF;
  filter: blur(151px);
  width: 100%;
  height: 20%;
  position: absolute;
}

.priceBG{
  background: #130033;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.priceBG h2{
  font-weight: 700;
  font-size: 27px;
  color: white;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 20px;
}

.priceBG p{
  font-weight: 400;
  font-size: 20px;
  color:  white;
  text-align: center;
  padding-bottom: 60px;
}

.priceText{
  width: 60%;
}

.formPage{
  margin-top: 150px;
  width: 100%;
  display: flex; 
  background-image: url(./components/images/Map.png);
  background-repeat: no-repeat;
  background-size: cover;
  overscroll-behavior: contain;
  background-position: center;
}

.BubbleR4{
  margin-top: -120px;
  scale: 60%;
  height: max-content;
  width: 0;
}


.contactForm{
  margin-top: 300px;
  margin-bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  opacity: 0;
  filter: blur(5);

  transition: .9s ease-in;
}

@media screen and (max-width: 950px){

  .content_hl{
    margin-top: 0px;
    margin-left: 15px;
    margin-right: 60px;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .content_text{
    margin-left: 30px;
    animation: content-load linear .5s;
  }

  .Contactbtn{
    margin-left: 30px;
  }

  .bgImg{
    background-attachment: unset;
  }

  .content_hl{
    flex-direction: column;
    margin-left: 0px;
    width: 100%;
  }

  .Soc_hl{
    align-self: flex-start;
    margin-left: 30px;

  }

  .BubbleR2{
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .aboutTextContent{
    margin-top: 70px;
  }

  .videa{
    flex-wrap: wrap;
  }


}